{{!-- Navbar --}}
<nav>
        <div class="nav-wrapper">
          <a href="" class="brand-logo">CREATOR<span class="custom-brand-logo">LABS</span></a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/profile">Profile</a></li>
            {{#if loggedIn}}
            <li><button id="logout-btn" class="btn custom-button">LOGOUT</button></li>
            {{else}}
            <li>
              <a href="/login" class="btn custom-button">LOGIN</a>
            </li>
            {{/if}}
          </ul>
        </div>
        <ul class="sidenav" id="mobile-demo">
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><button id="logout-btn" class="btn custom-button purple lighten-4">LOGOUT</button></li>
          </ul>
  </nav>
{{!--  --}}

<div class="row custom-row center-align">

  <h2 class="custom-welcome"> Hey <span id="username">{{user.username}}</span>! This is project <span id="project-id">{{project.id}} </span>🔥</h2>
  <h4><span>{{project.user.username}} </span>is the team leader! Would you like to join their team?
  </h4>
  {{!-- insert user profile picture here --}}
  <div>

  </div>
  <div class="flex">
    <div>
    <button class="btn center-align" id="join-btn">JOIN THIS TEAM!</button>
  </div>
  <div>
    <img src="/images/polygon.png" alt="">
  </div>
</div>
  </div>
<body>
  <div>
    <img class="chat-image" src="/images/Marni 4.png" alt="">
  </div>
  <div>
    <img class="chat-image" src="/images/Badrun 4.png" alt="">
  </div>
  <div class="chat-container custom-bg">
    <div class="container">
    {{! main section }}
    <main>
      <div>
        <h3>Say Hi!</h3>
        <h3 id="team-name">Building {{project.title}}</h3>
        <h3>Live Users: </h3>
        <div>
          <ul id="user-list" class="white-text">
        </ul>
        </div>
      </div>
      <div class="messages white-text"></div>
    </main>
    {{! form container }}
    <div class="form-container">
      <form id="chat-form">
        <input id="message" type="text" placeholder="Enter your message" />
        <button class="btn send-btn">Send</button>
      </form>
    </div>
  </div>
  </div>
  {{!-- leave chat button - take user back to dashboard --}}
  <div class="center-align">
    <a href="/dashboard">
      <button class="btn" id="leave-btn">Leave Chat</button>
    </a>
  </div>


{{!-- socket.io script --}}
<script src="/socket.io/socket.io.js"></script>
{{!-- chat logic --}}
<script src="/javascript/chat.js"></script>