
      <div class="row custom-row">
      
            <h3 class="custom-welcome">Welcome to the team!</h3>
         
        </div>
        
<h1 id="my-role">Designer</h1>
  <H5>PROJECT NAME</H5>
  <div>{{title}}</div>
  <H1>PROJECT ID</H1>
  <h1 id="project-id">{{id}}</h1>
  <h1 >Designers Needed  <span id="designers_needed">{{designers_needed}}</span></h1>
  <h1>Developers Needed <span id="developers_needed">{{developers_needed}}</span></h1>
  <h1 >Artsist Needed <span id="artist_needed">{{artist_needed}}</span></h1>
  
  
</div>


<button class="btn" id="join-btn">Join Team</button>

<script src="/javascript/joinproject.js"></script>