<nav>
  <div class="nav-wrapper">
    <a href="" class="brand-logo">CREATOR<span
        class="custom-brand-logo"
      >LABS</span></a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i
        class="material-icons"
      >menu</i></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/dashboard">Dashboard</a></li>
      <li><a href="/profile">Profile</a></li>
      {{#if loggedIn}}
        <li><button id="logout-btn" class="custom-button">LOGOUT</button></li>
      {{else}}
        <li>
          <a href="/login" class="custom-button">LOGIN</a>
        </li>
      {{/if}}
    </ul>
  </div>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="/dashboard">Dashboard</a></li>
    <li><a href="/profile">Profile</a></li>
    {{#if loggedIn}}
      <li><button
          id="logout-btn-nav"
          class="custom-button custom-button-nav"
        >LOGOUT</button></li>
    {{/if}}
  </ul>
</nav>

<div class="row custom-row">

  <div class="col s12 m12 l2 custom-profile-box">
    <div class="upload-btn-wrapper">
      {{! <button id="upload-photo"><i class="material-icons">add</i></button>
      <input
        id="upload"
        type="file"
        onChange="handleImageUpload()"
        class="custom-upload"
      /> }}
      <img
        class="circle custom-profile-picture"
        id="display-image"
        src="{{user.picture_url}}"
      />
    </div>
    {{! <img class="circle custom-profile-picture" src="./images/profile.jpg" /> }}

    <ul class="custom-profile-details">
      <li><a href="#!" class="custom-name">{{user.username}}</a></li>
      <li><a href="#!" class="grey-text">{{user.role}}</a></li>
      <li><div class="divider"></div></li>
      <li><a href={{user.linkedin}}><img src="./images/linkedin.png" /></a>
        <a href="mailto:{{user.email}}"><img src="./images/email.png" /></a>
      </li>
      <div>
        {{! when the user clicks this button open up a form}}
        <button id="update-profile-button" class="btn-grad btn">Update Image</button>
        {{! form for image uploade }}
        <div>
          <form id="image-update-form">
            <input id="image-value" type="file" name="image" />
            <button id="image-submit-btn" class="btn">SUBMIT</button>
          </form>
        </div>
      </div>
    </ul>

  </div>

  <div class="col s12 m12 l10">
    <div class="custom-profile-intro">
      <h3>Time to level up?</h3>
      <p>Find a project in the dashboard or create your own!</p>
      <a href="/dashboard"><button class="btn profile-buttons">View Others
          Projects!</button></a>
      <a href="/create-project"><button class="btn profile-buttons">Create My
          Own!</button></a>
    </div>

    <div class="custom-profile-projects">
      <h3>Projects I have created</h3>
      {{#if user.projects.length}}
        <ul class="collapsible">
          {{#each user.projects}}
            <li>
              <div class="collapsible-header"><i
                  class="material-icons"
                >whatshot</i>{{title}}</div>
              <div class="collapsible-body"><span>{{description}}</span></div>
            </li>
          {{/each}}
        </ul>
      {{else}}
        <h3 class="custom-noproject">You have no projects</h3>
      {{/if}}

      <h3>Teams I have joined</h3>
      {{#if user.teams.length}}
        <ul class="collapsible">
          {{#each user.teams}}
            <li>
              <div class="collapsible-header"><i
                  class="material-icons"
                >whatshot</i>{{team_name}}</div>
              <div class="collapsible-body">
                {{! Team Members }}
                <h4 class="black-text">Team Members</h4>
                {{#each users}}
                  <ul>
                    <li><span>{{username}}</span></li>
                  </ul>
                {{/each}}
              </div>
            </li>
          {{/each}}
          {{! TEST }}
        </ul>
      {{else}}
        <h3 class="custom-noproject">You have no teams</h3>
      {{/if}}

    </div>

  </div>

</div>

<script src="/javascript/profile.js"></script>
<script src="/javascript/logout.js"></script>
<script src="/javascript/joinproject.js"></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"
></script>
<script>
  $(document).ready(function(){ $('.sidenav').sidenav(); });
  $(document).ready(function(){ $('select').formSelect(); });
  $(document).ready(function(){ $('.collapsible').collapsible(); });

</script>