<nav>
  <div class="nav-wrapper">
    <a href="" class="brand-logo">CREATOR<span
        class="custom-brand-logo"
      >LABS</span></a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i
        class="material-icons"
      >menu</i></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/dashboard">Dashboard</a></li>
      <li><a href="/profile">Profile</a></li>
      {{#if loggedIn}}
        <li><button
            id="logout-btn"
            class="custom-button"
          >LOGOUT</button></li>
      {{else}}
        <li>
          <a href="/login" class="custom-button">LOGIN</a>
        </li>
      {{/if}}
    </ul>
  </div>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="/dashboard">Dashboard</a></li>
    <li><a href="/profile">Profile</a></li>
    {{#if loggedIn}}
        <li><button
            id="logout-btn-nav"
            class="custom-button custom-button-nav"
          >LOGOUT</button></li>
      {{/if}}
  </ul>
</nav>

<div class="row custom-row">

  <div class="col s12 m12 l2 custom-profile-box">
    <img class="circle custom-profile-picture" src="/images/profile.jpg" />
    <ul class="custom-profile-details">
      <li><a href="#!" class="custom-name">{{user.username}}</a></li>
      {{! user id }}
      <li><a href="#!" class="grey-text" style="display:none;">
          <span id="user-id">{{user.id}}</span></a></li>
      <li><a href="#!" class="grey-text">{{user.role}}</a></li>
      <li><div class="divider"></div></li>
      <li><a href={{user.linkedin}}><img src="/images/linkedin.png" /></a>
        <a href="mailto:{{user.email}}"><img src="/images/email.png" /></a>
      </li>
    </ul>

    {{! chat button }}
  </div>

  <div class="col s12 m12 l10">

 <div class="custom-profile-projects">
      <h3>Projects created</h3>
       {{#if user.projects.length}}
      <ul class="collapsible">  
        {{#each user.projects}}
          <li>
            <div class="collapsible-header"><i
                class="material-icons"
              >whatshot</i>{{title}}</div>
            <div class="collapsible-body"><span>{{description}}</span></div>
          </li>
        {{/each}}
      </ul>
         {{else}}
         <h3 class="custom-noproject">No projects</h3>
        {{/if}}
     
        <h3>Teams joined</h3>
        {{#if user.teams.length}}
        <ul class="collapsible">
          {{#each user.teams}}
            <li>
              <div class="collapsible-header"><i
                  class="material-icons"
                >whatshot</i>{{team_name}}</div>
              <div class="collapsible-body"><span
                >{{users.username}}</span></div>
            </li>
          {{/each}}
          {{! TEST }}
        </ul>
          {{else}}
         <h3 class="custom-noproject">No teams</h3>
        {{/if}}
     
    </div>

{{!-- <div class="custom-profile-projects">
    
  <h3>Hey
    <span id="current-user">{{currentUser.username}}</span>, send
    {{user.username}}
    a message!</h3>
  </div>

<div class="custom-profile-projects">
  <div class="messages">
    <div class="message">
      
    </div>
  </div>
  <form id="chat-form" action="" class="custom-profile-projects">
    <input id="message" autocomplete="off" /><button class="btn">Send</button>
  </form>
</div>  --}}








  
  <!-- Modal Structure -->
  <div id="modal1" class="modal">
      <div>
              <a href="#!" class="modal-close waves-effect waves-green btn-flat"> 
                <i class=" material-icons black-text">close</i>
              </a>

        <div class="custom-current-user">
              <span id="current-user"> Hello {{currentUser.username}}</span>! <br> 
               Start a conversation now with 
                {{user.username}}  <i class="material-icons">chat</i>
        </div>

      <div class="black-text"> 
          <div class="messages">
             <div class="message">
            
                  {{user.username}}:
                   <br> <br>
                   Hi {{currentUser.username}}, for any enquiries please leave me a message! I'll reply soon 😄
              
            </div>

           <div class="message">
      
          </div>
          </div>






      <div class="form-style-5">
          <form id="chat-form">
             
                  <input id="message" type="text" name="field1" placeholder="Type your message">
                  <button class="custom-send-btn"></button>



          </form>
  </div>

    </div>
{{!-- 
    <div class="modal-footer col s12">
      <a class="btn-floating btn-large red" href="#!">
    <i class=" material-icons  custom-chat-icon" href="#modal1">send</i>
      </a>
    </div> --}}



    </div>
  </div>
        


<div class="fixed-action-btn">
  <a class="btn-floating btn-large red">
    <i class="large material-icons modal-trigger custom-chat-icon" href="#modal1">chat</i>
  </a>
</div>


  </div>
</div>

{{! socket.io script }}
<script src="/javascript/logout.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/javascript/private-chat.js"></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"
></script>
<script>
  $(document).ready(function(){ $('.sidenav').sidenav(); });
  $(document).ready(function(){ $('select').formSelect(); });
  $(document).ready(function(){ $('.collapsible').collapsible(); });
    $(document).ready(function(){
    $('.fixed-action-btn').floatingActionButton();
  });
    $(document).ready(function(){
    $('.modal').modal();
  });
</script>