<div>
  <h5>PROJECT TITLE</h5>
  <div>{{project.title}}</div>
  <H5>DESIGNERS NEEDED</H5>
  <div>
    <span id="designers_needed">
      {{project.designers_needed}}
    </span>
    DESIGNERS NEEDED
  </div>
  <H5>DEVELOPERS NEEDED</H5>
  <div>
    <span id="developers_needed">
      {{project.developers_needed}}
    </span>
    DEVELOPERS NEEDED
  </div>
  <H5>ARTIST NEEDED</H5>
  <div>
    <span id="artist_needed">
      {{project.artist_needed}}
    </span>
    ARTIST NEEDED
  </div>
  <H5>DESCRIPTION HERE</H5>
  <div>{{project.description}}</div>

  {{! TEAM LEADER }}
  <H5>TEAM LEADER HERE</H5>
  <div>{{project.user.username}}</div>
  <H5>TEAM LEADER ROLE</H5>
  <div>{{project.user.role}}</div>
</div>

{{! MY CURRENT ROLE }}
<H5>MY CURRENT USERNAME</H5>
<div>
  {{username}}
</div>
{{! MY CURRENT ROLE }}
<div>
  {{role}}
</div>
{{! CURRENT USER ID }}
<div id="my-role">
  {{currentUser.role}}
</div>

<div>
  <button id="join-team-btn">JOIN THE TEAM</button>
</div>
<div>
  <button>OPEN CHAT</button>
</div>
<div>
  <button id="leave-team-btn">LEAVE THE TEAM</button>
</div>

{{! Some other information is required here in order to differentiate it }}
<script src="../javascript/jointeam.js"></script>